<div style="background-color: rgb(43, 13, 13);">
   
    <nav id="cuerpoZ" *ngIf="credentialsActive">
        <div class="forma">
                <h1 style="text-align: center;">Welcome to The Company<sup id="hsma">TM</sup>'s Testing Application </h1>
                <br>
                <br>
                <div class="wrapperDiv" *ngIf="credentialsIno;">
                    <h4>Enter your credentials to begin assessment:</h4>
                    <h5>Candidate's ID: </h5> <input type="text" name="id" id="id" [(ngModel)]="candidateID">
                    <h5> First Name: </h5>  <input type="text" name="name" id="name" [(ngModel)]="first">
                    <h5> Last Name: </h5> <input type="text" name="last" id="last" [(ngModel)]="last">
                    <br>
                    <br>
                    <button (click)="credentials()" class="btn btn-warning"> Submit</button>
                </div>
                
                <div class="wrapperDiv" *ngIf="!credentialsIno">
                    <h4>Hi {{first.charAt(0).toUpperCase()+first.slice(1)}}, choose a assessment to begin :</h4>
                        <br>
                        <div style="max-width: 270px; margin: auto;">
                       <a class="quiz" href="javascript:void(0);" (click)="quizOption(1)" style="text-decoration: none;">
                           <div class="formi">  JavaScript</div>
                        </a><br>
                        <a class="quiz" href="javascript:void(0);" (click)="quizOption(2)" style="text-decoration: none;">
                            <div class="formi">  Object Oriented Programming</div>
                         </a><br>
                         <a class="quiz" href="javascript:void(0);" (click)="quizOption(3)" style="text-decoration: none;">
                            <div class="formi">  C++</div>
                         </a><br>
                         <a class="quiz" href="javascript:void(0);" (click)="quizOption(4)" style="text-decoration: none;">
                            <div class="formi">  HTML/CSS</div>
                         </a>
                         </div>
                    <br>
                    <br>
                </div>
                <br>
                <br>
        </div>

    </nav>

    
   
   
   
    <div id="questionare" *ngIf="questionsActive">
    <div id="wrapperDiv">
    <div style=" padding-top: 100px; padding-bottom: 20px; ; color: white;" ><h1 style="text-align: center;">Quiz</h1></div>
    </div>
    
       <nav class="row">
            
            <nav class="col-12" id="colo" style="background-color:rgb(43, 13, 13)">
                
                <nav id="cuerpo">
                    <div class="forma">
                        <div class="wrapperDiv">
                            <div class="leftt">
                                Question 📋:  {{currentIndex+1}}/10
                            </div>
                            <div class="rightt">
                                Time ⏰
                            </div>
                        </div>
                        <h2> {{this.allQuestions[currentIndex].queation}}</h2>
                            <br>
                        <div id="conte" style=" margin: auto;">
                            <a class="formi" id="aone" href="javascript:void(0);" (click)="anOption(1)" style="text-decoration: none;">
                                A.- {{this.allQuestions[currentIndex].an1}} 
                             </a><br>
                             <a class="formi" id="atwo" href="javascript:void(0);" (click)="anOption(2)" style="text-decoration: none;">
                                B.- {{this.allQuestions[currentIndex].an2}}
                              </a><br>
                              <a class="formi" id="athree" href="javascript:void(0);" (click)="anOption(3)" style="text-decoration: none;">
                                C.- {{this.allQuestions[currentIndex].an1}}
                              </a><br>
                              <a class="formi" id="afour" href="javascript:void(0);" (click)="anOption(4)" style="text-decoration: none;">
                                D.- {{this.allQuestions[currentIndex].an1}}
                              </a>
                              </div>
                              <br>
                              <button *ngIf="submitb" id="boton" (click)="next()" class="btn btn-warning"> Next</button>
                              <button *ngIf="!submitb"id="boton" (click)="next()" class="btn btn-success"> Submit</button>
                    </div>
            

                </nav>
                
            </nav>
       </nav>

    </div>



    <div id="results" *ngIf="resultsActive">
        <div id="wrapperDiv">
        <div style=" padding-top: 100px; padding-bottom: 20px; ; color: white;" ><h1 style="text-align: center;">Your Results</h1></div>
        </div>
        
           <nav class="row">
                
                <nav class="col-12" id="colo" style="background-color:rgb(43, 13, 13)">
                    
                    <nav id="cuerpo">
                        <div class="forma">

                            <div class="leftt">
                                <p>📊 Total Questions: 10</p>
                                <p>📊 Correct Answers: {{correcta}}</p>
                                <p>{{texti}}</p>

                            </div>
                        </div>
                
    
                    </nav>
                    
                </nav>
           </nav>
    
        </div>
</div>