<body id="main">
  
<br>
    <br> <div id ="titulo2">
    <h1 class ="titulo">The Company<sup id="hsma">TM</sup> Blog</h1>
    <h3 >The one stop site for all The Company<sup id = "hsmall">TM</sup> news</h3>
    </div>
    <br>
    <nav class="navbarro">
        <a class ="pestanas active" href="./index.html">Home</a>   
        <a class ="pestanas" href="./blogs.html">Blog</a>  
        <a class ="pestanas" href="./about.html">About</a>   
        <a class ="pestanas" href="./contact.html">Contact</a>  
    </nav>

<app-home></app-home>
<app-assessment></app-assessment>
<app-contact></app-contact>

</body>