
        <div class="row" id="one"> 
            <h1 class="centerTitle">At The Company<sup id="hsma">TM</sup>... We Hire High-Quality People Like You!</h1>
         </div> 

        <div class="row" id="two" style="background-color: white;"> 
            <nav style="width: 100%;height:150px ;">
            </nav>
            <div class="col-5"  > 
                <h1 style="margin-left:12% ; margin-top:2cm ;font-size: 4em;" > Why The Company<sup id="hsma">TM</sup> </h1>
            </div>
            <div class="col-7">
               <p style=" margin-top:.5cm ;margin-left:2%; padding-right:10%; font-size: 1.2em;" > Our people are the most critical component of our long-term success. So it’s no surprise, then, how much time and effort we pour into creating a comprehensive benefits package for all team members. We strive to provide the best choice and value at the best cost. Our packages are competitive in the market and relevant to the various countries in which we operate. </p>
               <p style=" margin-top:.5cm ;margin-left:2%; padding-right:10%; font-size: 1.2em;" > The Company<sup id="hsma">TM</sup> is the most open, accepting, supportive place to work. We had great team leads, and great camaraderie with work events and team outings. </p>
                
            </div>
            <nav style="width: 100%;height:150px ;">
            </nav>
         </div> 
         
         
<div class="row" id="three"> 
    <h1 class="centeredTitle" style="color: white;">Get Hired Today! </h1>
    <p class="simpleParagraph">If you have been given a candidate ID number, Congratulations! you are ready to take the next steps towards getting a career at The Company. Click below to register and take the assessment.</p>
    <div id="botone">
        
        <button [routerLink]="'assessment'" type="button" class="btn btn-warning" style=" font-size: 1.3em;" >I Have an ID</button>
        
        <button onclick="[routerLink]='assessment';" type="button" class="btn btn-outline-light " style="margin-left: 15px; font-size: 1.3em;">Contac Us</button>
        
    </div>
</div> 
